In [1]:
import pandas as pd
import tarfile

In [2]:
weather_cols = [
    'DATE',
    'REPORT_TYPE',
    'CALL_SIGN',
    'VIS',
    'REM']

df = pd.read_csv('raw-data/2017.tar.gz', compression='gzip')

In [3]:
with tarfile.open('raw-data/2017.tar.gz', "r:*") as tar:
    csv_path = '72565003017.csv'
    df = pd.read_csv(tar.extractfile(csv_path),
                     usecols=lambda c: c in weather_cols,
                     parse_dates=['DATE'], encoding_errors='ignore', 
                     index_col=None, 
                     header=0, 
                     low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13891 entries, 0 to 13890
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         13891 non-null  datetime64[ns]
 1   REPORT_TYPE  13891 non-null  object
 2   CALL_SIGN    13891 non-null  object
 3   VIS          13891 non-null  object
 4   REM          13890 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 542.7+ KB

In [5]:
df.head()

,DATE,REPORT_TYPE,CALL_SIGN,VIS,REM
0,2017-01-01 00:00:00,FM-12,99999,"016000,1,9,9",SYN08072565 32966 20306 11011 21061 38253 4008...
1,2017-01-01 00:53:00,FM-15,KDEN,"016093,5,N,5",MET10112/31/16 17:53:03 METAR KDEN 010053Z 020...
2,2017-01-01 01:53:00,FM-15,KDEN,"016093,5,N,5",MET09812/31/16 18:53:03 METAR KDEN 010153Z 010...
3,2017-01-01 02:53:00,FM-15,KDEN,"016093,5,N,5",MET10412/31/16 19:53:03 METAR KDEN 010253Z 000...
4,2017-01-01 03:00:00,FM-12,99999,"016000,1,9,9",SYN06472565 32966 00000 11028 21072 38259 4010...

In [6]:
df.shape

(13891, 5)

In [7]:
df.to_csv('outputs/weather-test.csv')