In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
!head data/72565003017.csv

"STATION","DATE","SOURCE","LATITUDE","LONGITUDE","ELEVATION","NAME","REPORT_TYPE","CALL_SIGN","QUALITY_CONTROL","WND","CIG","VIS","TMP","DEW","SLP","AA1","AA2","AA3","AB1","AD1","AE1","AH1","AH2","AH3","AH4","AH5","AH6","AI1","AI2","AI3","AI4","AI5","AI6","AJ1","AK1","AM1","AN1","AT1","AT2","AT3","AT4","AT5","AT6","AU1","AU2","AU3","AW1","AW2","AW3","AW4","AX1","AX2","AX3","AX4","ED1","GA1","GA2","GA3","GD1","GD2","GD3","GD4","GE1","GF1","KA1","KA2","KB1","KB2","KB3","KC1","KC2","KD1","KD2","KE1","KG1","KG2","MA1","MD1","MF1","MG1","MH1","MK1","MV1","MW1","MW2","OC1","OD1","OE1","OE2","OE3","RH1","RH2","RH3","WA1","REM","EQD"
"72565003017","2021-01-01T00:00:00","4","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-12","99999","V020","340,1,N,0021,1","99999,9,9,N","016000,1,9,9","+0000,1","-0056,1","10162,1",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"99,9,+02250,1,99,9",,,,,,,"9,MSL   ,+99999,+99999","06,99,1,99,9,99,9,02250,1,99,9,99,9","120,M,+0061,1","120,N,-0071,1",,,,,,,,,,,"99999,9,08317,1","1,1,017,1,+999,9",,,,,,,,,,,,,,,,,"SYN08072565 32866 63404 10000 21056 38317 40162 51017 92353 333 10061 21071 555 90100=",
"72565003017","2021-01-01T00:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","340,5,N,0026,5","03353,5,M,N","016093,5,N,5","+0000,5","-0067,5","10179,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"07,5,+03353,5,99,9","07,5,+06706,5,99,9",,"3,99,1,+03353,5,9","3,99,1,+06706,5,9",,,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,03353,1,99,9,99,9",,,,,,,,,,,,,"10152,5,08312,5",,,,,,,,,,,,,,,,,,"MET10712/31/20 17:53:03 METAR KDEN 010053Z 34005KT 10SM BKN110 BKN220 00/M07 A2998 RMK AO2 SLP179 T00001067 (PJM)",
"72565003017","2021-01-01T01:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","340,5,N,0026,5","03658,5,M,N","016093,5,N,5","-0006,5","-0061,5","10188,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"07,5,+03658,5,99,9","07,5,+06706,5,99,9",,"3,99,1,+03658,5,9","3,99,1,+06706,5,9",,,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,03658,1,99,9,99,9",,,,,,,,,,,,,"10166,5,08323,5",,,,,,,,,,,,,,,,,,"MET10812/31/20 18:53:03 METAR KDEN 010153Z 34005KT 10SM BKN120 BKN220 M01/M06 A3002 RMK AO2 SLP188 T10061061 (PJM)",
"72565003017","2021-01-01T02:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","999,9,C,0000,5","03658,5,M,N","016093,5,N,5","+0000,5","-0078,5","10189,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"07,5,+03658,5,99,9",,,"3,99,1,+03658,5,9",,,,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,03658,1,99,9,99,9",,,,,,,,,,,,,"10169,5,08326,5","1,9,024,9,+999,9",,,,,,,,,,,,,,,,,"MET10612/31/20 19:53:03 METAR KDEN 010253Z 00000KT 10SM BKN120 00/M08 A3003 RMK AO2 SLP189 T00001078 51024 (PJM)",
"72565003017","2021-01-01T03:00:00","4","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-12","99999","V020","999,9,C,0000,1","99999,9,9,N","016000,1,9,9","+0000,1","-0078,1","10189,1",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"9,MSL   ,+99999,+99999","06,99,1,99,9,99,9,99999,9,99,9,99,9",,,,,,,,,,,,,"99999,9,08343,1","1,1,024,1,+999,9",,,,,,,,,,,,,,,,,"SYN06472565 32966 60000 10000 21078 38343 40189 51024 90253 555 90103=",
"72565003017","2021-01-01T03:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","999,9,C,0000,5","03658,5,M,N","016093,5,N,5","+0000,5","-0067,5","10188,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"02,5,+02743,5,99,9","07,5,+03658,5,99,9","07,5,+06706,5,99,9","1,99,1,+02743,5,9","3,99,1,+03658,5,9","3,99,1,+06706,5,9",,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,02743,1,99,9,99,9",,,,,,,,,,,,,"10173,5,08329,5",,,,,,,,,,,,,,,,,,"MET11412/31/20 20:53:03 METAR KDEN 010353Z 00000KT 10SM FEW090 BKN120 BKN220 00/M07 A3004 RMK AO2 SLP188 T00001067 (PJM)",
"72565003017","2021-01-01T04:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","010,5,N,0015,5","06706,5,M,N","016093,5,N,5","+0000,5","-0089,5","10184,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"04,5,+03658,5,99,9","07,5,+06706,5,99,9",,"2,99,1,+03658,5,9","3,99,1,+06706,5,9",,,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,03658,1,99,9,99,9",,,,,,,,,,,,,"10176,5,08332,5",,,,,,,,,,,,,,,,,,"MET10712/31/20 21:53:03 METAR KDEN 010453Z 01003KT 10SM SCT120 BKN220 00/M09 A3005 RMK AO2 SLP184 T00001089 (PJM)",
"72565003017","2021-01-01T05:53:00","7","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-15","KDEN ","V030","330,5,N,0031,5","03658,5,M,N","016093,5,N,5","-0011,5","-0083,5","10188,5","01,0000,9,5",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"07,5,+03658,5,99,9","07,5,+06706,5,99,9",,"3,99,1,+03658,5,9","3,99,1,+06706,5,9",,,"9,MSL   ,+99999,+99999","99,99,9,99,9,99,9,03658,1,99,9,99,9","060,M,+0011,1","060,N,-0011,1",,,,,,,,,,,"10176,5,08332,5","1,9,007,9,+999,9",,,,,,,,,,,,,,,,,"MET12612/31/20 22:53:03 METAR KDEN 010553Z 33006KT 10SM BKN120 BKN220 M01/M08 A3005 RMK AO2 SLP188 T10111083 10011 21011 51007 (SLK)",
"72565003017","2021-01-01T06:00:00","4","39.84657","-104.65623","1647.2","DENVER INTERNATIONAL AIRPORT, CO US","FM-12","99999","V020","330,1,N,0031,1","99999,9,9,N","016000,1,9,9","-0011,1","-0083,1","10188,1",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"9,MSL   ,+99999,+99999","06,99,1,99,9,99,9,99999,9,99,9,99,9","240,M,+0011,1","240,N,-0072,1",,,,,,,,,,,"99999,9,08348,1","1,1,007,1,+999,9",,,,,,,,,,,,,,,,,"SYN08072565 32966 63306 11011 21083 38348 40188 51007 90553 333 10011 21072 555 90106=",

In [22]:
denver = pd.read_csv(
    'data/72565003017.csv',
    parse_dates=['DATE'],
    dtype={'AT5':object, 'AT6':object, 'AX4':object, 'WA1':object})

In [23]:
denver.head()

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,...,OD1,OE1,OE2,OE3,RH1,RH2,RH3,WA1,REM,EQD
0,72565003017,2021-01-01 00:00:00,4,39.84657,-104.65623,1647.2,"DENVER INTERNATIONAL AIRPORT, CO US",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYN08072565 32866 63404 10000 21056 38317 4016...,NaN
1,72565003017,2021-01-01 00:53:00,7,39.84657,-104.65623,1647.2,"DENVER INTERNATIONAL AIRPORT, CO US",FM-15,KDEN,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10712/31/20 17:53:03 METAR KDEN 010053Z 340...,NaN
2,72565003017,2021-01-01 01:53:00,7,39.84657,-104.65623,1647.2,"DENVER INTERNATIONAL AIRPORT, CO US",FM-15,KDEN,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10812/31/20 18:53:03 METAR KDEN 010153Z 340...,NaN
3,72565003017,2021-01-01 02:53:00,7,39.84657,-104.65623,1647.2,"DENVER INTERNATIONAL AIRPORT, CO US",FM-15,KDEN,V030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET10612/31/20 19:53:03 METAR KDEN 010253Z 000...,NaN
4,72565003017,2021-01-01 03:00:00,4,39.84657,-104.65623,1647.2,"DENVER INTERNATIONAL AIRPORT, CO US",FM-12,99999,V020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYN06472565 32966 60000 10000 21078 38343 4018...,NaN

In [24]:
denver.shape

(13426, 97)

In [25]:
denver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13426 entries, 0 to 13425
Data columns (total 97 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          13426 non-null  int64
 1   DATE             13426 non-null  datetime64[ns]
 2   SOURCE           13426 non-null  int64
 3   LATITUDE         13426 non-null  float64
 4   LONGITUDE        13426 non-null  float64
 5   ELEVATION        13426 non-null  float64
 6   NAME             13426 non-null  object
 7   REPORT_TYPE      13426 non-null  object
 8   CALL_SIGN        13426 non-null  object
 9   QUALITY_CONTROL  13426 non-null  object
 10  WND              13426 non-null  object
 11  CIG              13426 non-null  object
 12  VIS              13426 non-null  object
 13  TMP              13426 non-null  object
 14  DEW              13426 non-null  object
 15  SLP              13426 non-null  object
 16  AA1              10031 non-null  object
 17  AA2              440 non-null    object
 18  AA3              32 non-null     object
 19  AB1              12 non-null     object
 20  AD1              12 non-null     object
 21  AE1              12 non-null     object
 22  AH1              11 non-null     object
 23  AH2              11 non-null     object
 24  AH3              11 non-null     object
 25  AH4              11 non-null     object
 26  AH5              11 non-null     object
 27  AH6              11 non-null     object
 28  AI1              11 non-null     object
 29  AI2              11 non-null     object
 30  AI3              11 non-null     object
 31  AI4              11 non-null     object
 32  AI5              11 non-null     object
 33  AI6              11 non-null     object
 34  AJ1              365 non-null    object
 35  AK1              12 non-null     object
 36  AM1              12 non-null     object
 37  AN1              377 non-null    object
 38  AT1              145 non-null    object
 39  AT2              91 non-null     object
 40  AT3              45 non-null     object
 41  AT4              25 non-null     object
 42  AT5              8 non-null      object
 43  AT6              2 non-null      object
 44  AU1              1636 non-null   object
 45  AU2              683 non-null    object
 46  AU3              27 non-null     object
 47  AW1              1653 non-null   object
 48  AW2              752 non-null    object
 49  AW3              57 non-null     object
 50  AW4              21 non-null     object
 51  AX1              135 non-null    object
 52  AX2              69 non-null     object
 53  AX3              19 non-null     object
 54  AX4              1 non-null      object
 55  ED1              105 non-null    object
 56  GA1              11098 non-null  object
 57  GA2              6179 non-null   object
 58  GA3              2895 non-null   object
 59  GD1              10184 non-null  object
 60  GD2              6181 non-null   object
 61  GD3              2911 non-null   object
 62  GD4              172 non-null    object
 63  GE1              10987 non-null  object
 64  GF1              12240 non-null  object
 65  KA1              3581 non-null   object
 66  KA2              3542 non-null   object
 67  KB1              12 non-null     object
 68  KB2              12 non-null     object
 69  KB3              12 non-null     object
 70  KC1              12 non-null     object
 71  KC2              12 non-null     object
 72  KD1              12 non-null     object
 73  KD2              12 non-null     object
 74  KE1              12 non-null     object
 75  KG1              365 non-null    object
 76  KG2              365 non-null    object
 77  MA1              13049 non-null  object
 78  MD1              5745 non-null   object
 79  MF1              365 non-null    object
 80  MG1              365 non-null    object
 81  MH1              12 non-null     object
 82  MK1              12 non-null     object
 83  MV1              88 non-null     object
 84  MW1              1383 non-null   object
 85  MW2              19 non-null     object
 86  OC1              1116 non-null   object
 87  OD1              979 non-null    object
 88  OE1              365 non-null    object
 89  OE2              365 non-null    object
 90  OE3              365 non-null    object
 91  RH1              365 non-null    object
 92  RH2              365 non-null    object
 93  RH3              365 non-null    object
 94  WA1              114 non-null    object
 95  REM              13426 non-null  object
 96  EQD              4486 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(91)
memory usage: 9.9+ MB

In [26]:
denver.describe()

            STATION        SOURCE      LATITUDE     LONGITUDE     ELEVATION
count  1.342600e+04  13426.000000  1.342600e+04  1.342600e+04  1.342600e+04
mean   7.256500e+10      6.302622  3.984657e+01 -1.046562e+02  1.647200e+03
std    0.000000e+00      1.221638  7.105692e-15  4.263415e-14  4.547643e-13
min    7.256500e+10      4.000000  3.984657e+01 -1.046562e+02  1.647200e+03
25%    7.256500e+10      6.000000  3.984657e+01 -1.046562e+02  1.647200e+03
50%    7.256500e+10      7.000000  3.984657e+01 -1.046562e+02  1.647200e+03
75%    7.256500e+10      7.000000  3.984657e+01 -1.046562e+02  1.647200e+03
max    7.256500e+10      7.000000  3.984657e+01 -1.046562e+02  1.647200e+03

In [ ]:
j