In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

%matplotlib inline

In [2]:
data = pd.read_csv('data/unique-stations.csv', encoding_errors='ignore', index_col=None, header=0)

/var/folders/g7/8crg6v9j4pxf3v63yzxxst4c0000gn/T/ipykernel_84216/2106659723.py:1: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/unique-stations.csv', encoding_errors='ignore', index_col=None, header=0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129058255 entries, 0 to 129058254
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   STATION    object
 1   NAME       object
 2   CALL_SIGN  object
dtypes: object(3)
memory usage: 2.9+ GB

In [5]:
unique = data.groupby(['STATION','CALL_SIGN']).size().reset_index().rename(columns={0:'count'})

In [6]:
unique = unique[(unique.CALL_SIGN != 99999) & (unique.CALL_SIGN != '99999')].reset_index(drop='True')

In [7]:
unique.head()

       STATION CALL_SIGN  count
0  69015093121     KNXP    8717
1  70000126492     PATO   13834
2  70019726558     PASK   11621
3  70026027502     PABR   16328
4  70030027503     PAWI   10383

In [8]:
unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2163 entries, 0 to 2162
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    2163 non-null   object
 1   CALL_SIGN  2163 non-null   object
 2   count      2163 non-null   int64
dtypes: int64(1), object(2)
memory usage: 50.8+ KB

In [10]:
unique.to_csv('data/unique-stations.csv', index='False')