In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

%matplotlib inline

In [2]:
data = pd.read_csv('data/merged-2021.csv', parse_dates=['DATE'], encoding_errors='ignore', index_col=None, header=0)

/var/folders/g7/8crg6v9j4pxf3v63yzxxst4c0000gn/T/ipykernel_29953/3103408674.py:1: DtypeWarning: Columns (0,6,8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/merged-2021.csv', parse_dates=['DATE'], encoding_errors='ignore', index_col=None, header=0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65982063 entries, 0 to 65982062
Data columns (total 19 columns):
 #   Column       Dtype
---  ------       -----
 0   STATION      object
 1   DATE         datetime64[ns]
 2   SOURCE       int64
 3   LATITUDE     float64
 4   LONGITUDE    float64
 5   ELEVATION    float64
 6   NAME         object
 7   REPORT_TYPE  object
 8   CALL_SIGN    object
 9   SLP          object
 10  REM          object
 11  VIS_METERS   int64
 12  VIS_V        object
 13  WND_ANGLE    int64
 14  WND_TYPE     object
 15  WND_SPEED    int64
 16  CIG_HEIGHT   int64
 17  TMP_DEG_C    int64
 18  DEW_DEG_C    int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(8)
memory usage: 9.3+ GB

In [4]:
data.head()

,STATION,DATE,SOURCE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,SLP,REM,VIS_METERS,VIS_V,WND_ANGLE,WND_TYPE,WND_SPEED,CIG_HEIGHT,TMP_DEG_C,DEW_DEG_C
0,1001499999,2021-01-01 13:50:00,4,59.791925,5.34085,48.76,"SORSTOKKEN, NO",FM-15,99999,"99999,9",MET046METAR ENSO 011350Z 11005KT CAVOK 02/M00 ...,9900,9,110,N,26,99999,20,0
1,1001499999,2021-01-01 14:20:00,4,59.791925,5.34085,48.76,"SORSTOKKEN, NO",FM-15,99999,"99999,9",MET046METAR ENSO 011420Z 11005KT CAVOK 02/M01 ...,9900,9,110,N,26,99999,20,-10
2,1001499999,2021-01-01 14:50:00,4,59.791925,5.34085,48.76,"SORSTOKKEN, NO",FM-15,99999,"99999,9",MET046METAR ENSO 011450Z 10004KT CAVOK 02/M01 ...,9900,9,100,N,21,99999,20,-10
3,1001499999,2021-01-01 15:20:00,4,59.791925,5.34085,48.76,"SORSTOKKEN, NO",FM-15,99999,"99999,9",MET046METAR ENSO 011520Z 08003KT CAVOK 01/M00 ...,9900,9,80,N,15,99999,10,0
4,1001499999,2021-01-01 15:50:00,4,59.791925,5.34085,48.76,"SORSTOKKEN, NO",FM-15,99999,"99999,9",MET046METAR ENSO 011550Z 09003KT CAVOK 02/M00 ...,9900,9,90,N,15,99999,20,0

In [5]:
daily_average = data.resample('d', on='DATE').mean().dropna(how='all')